/*************************
Animations
*************************/

//GENERIC

//animation for page scrolling arrow
@-webkit-keyframes scrollText {
	from {
		-webkit-transform: translateY(0px);
		        transform: translateY(0px);
		opacity: 1;
	}

	to {
		-webkit-transform: translateY(5px);
		        transform: translateY(5px);
		opacity: 0;
	}
}

@keyframes scrollText {
	from {
		-webkit-transform: translateY(0px);
		   		transform: translateY(0px);
		opacity: 1;
	}

	to {
		-webkit-transform: translateY(5px);
				transform: translateY(5px);
		opacity: 0;
	}
}

@-webkit-keyframes scrollTextRev {
	0% {
		-webkit-transform: translateY(5px) rotate(0deg);
		        transform: translateY(5px) rotate(0deg);
		opacity: 1;
	}

	50% {
		-webkit-transform: translateY(5px) rotate(-180deg);
		        transform: translateY(5px) rotate(-180deg);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateY(0px) rotate(-180deg);
		        transform: translateY(0px) rotate(-180deg);
		opacity: 0;
	}
}

@keyframes scrollTextRev {
	0% {
		-webkit-transform: translateY(5px) rotate(0deg);
		        transform: translateY(5px) rotate(0deg);
		opacity: 1;
	}

	50% {
		-webkit-transform: translateY(5px) rotate(-180deg);
		        transform: translateY(5px) rotate(-180deg);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateY(0px) rotate(-180deg);
		        transform: translateY(0px) rotate(-180deg);
		opacity: 0;
	}
}

/************
INTRO
************/

@-webkit-keyframes introBgLaunch{
	from{
		background-color: white;
	}
	to{
		background-color: rgba(40, 58, 89, 0.9);
	}
}

@keyframes introBgLaunch{
	from{
		background-color: white;
	}
	to{
		background-color: rgba(40, 58, 89, 0.9);
	}
}

@-webkit-keyframes introTextSlide{
	from{
		opacity: 0;
		-webkit-transform: translate(50px);
		        transform: translate(50px);
	}
	to{
		opacity: 1;
		-webkit-transform: translate(0px);
		        transform: translate(0px);
	}
}

@keyframes introTextSlide{
	from{
		opacity: 0;
		-webkit-transform: translate(50px);
		        transform: translate(50px);
	}
	to{
		opacity: 1;
		-webkit-transform: translate(0px);
		        transform: translate(0px);
	}
}

@-webkit-keyframes introUnderlineAppear{
	from{
		opacity: 0;
		-webkit-transform: translate(0, 5px);
		        transform: translate(0, 5px);
	}
	to{
		opacity: 1;
		-webkit-transform: translate(0, 0px);
		        transform: translate(0, 0px);
	}
}

@keyframes introUnderlineAppear{
	from{
		opacity: 0;
		-webkit-transform: translate(0, 5px);
		        transform: translate(0, 5px);
	}
	to{
		opacity: 1;
		-webkit-transform: translate(0, 0px);
		        transform: translate(0, 0px);
	}
}

@keyframes introPicturePop{
	0%{
		opacity: 0;
		-webkit-transform: rotateY(90deg);
		        transform: rotateY(90deg);
	}
	100%{
		opacity: 1;
		-webkit-transform: rotateY(0deg);
		        transform: rotateY(0deg);
	}
}

/************
ABOUT ME
************/

@-webkit-keyframes questionSlideIn{
    50%{
        height: 300px;
        width: 300px;
        top: calc(50vh - 150px);
        left: calc(50% - 150px);
        -webkit-transform: rotate(0);
                transform: rotate(0);
        opacity: 1;
    }
    to{
        height: 300px;
        width: 300px;
        top: calc(50vh - 150px);
        left: calc(50% - 150px);
        -webkit-transform: rotate(0);
                transform: rotate(0);
        opacity: 0.15;
    }
}

@keyframes questionSlideIn{
    50%{
        height: 300px;
        width: 300px;
        top: calc(50vh - 150px);
        left: calc(50% - 150px);
        -webkit-transform: rotate(0);
                transform: rotate(0);
        opacity: 1;
    }
    to{
        height: 300px;
        width: 300px;
        top: calc(50vh - 150px);
        left: calc(50% - 150px);
        -webkit-transform: rotate(0);
                transform: rotate(0);
        opacity: 0.15;
    }
}

//animation for text of about me section
@-webkit-keyframes textSlideIn{
    from{
        opacity: 0;
        -webkit-transform: translate(-200%,-50px);
                transform: translate(-200%,-50px);
    }
    to{	
        opacity: 1;
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
}

@keyframes textSlideIn{
    from{
        opacity: 0;
        -webkit-transform: translate(-200%,-50px);
                transform: translate(-200%,-50px);
    }
    to{	
        opacity: 1;
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
}

@media screen and (min-width:768px){

	@-webkit-keyframes questionSlideIn{
		20%{
			height: 350px;
			width: 350px;
			top: calc(50vh - 140px);
			left: 100px;
			-webkit-transform: rotate(0);
					transform: rotate(0);
			opacity: 1;
		}

		50%{
			height: 350px;
			width: 350px;
			top: calc(50vh - 140px);
			left: 100px;
			-webkit-transform: rotate(0);
					transform: rotate(0);
			opacity: 1;
		}

		to{
			height: 300px;
			width: 300px;
			top: calc(50vh - 120px);
			left: 125px;
			-webkit-transform: rotate(0);
					transform: rotate(0);
			opacity: 0.2;
		}
	}

	@keyframes questionSlideIn{
		20%{
			height: 350px;
			width: 350px;
			top: calc(50vh - 140px);
			left: 100px;
			-webkit-transform: rotate(0);
					transform: rotate(0);
			opacity: 1;
		}

		50%{
			height: 350px;
			width: 350px;
			top: calc(50vh - 140px);
			left: 100px;
			-webkit-transform: rotate(0);
					transform: rotate(0);
			opacity: 1;
		}
		
		to{
			height: 300px;
			width: 300px;
			top: calc(50vh - 120px);
			left: 125px;
			-webkit-transform: rotate(0);
					transform: rotate(0);
			opacity: 0.2;
		}
	}

	@-webkit-keyframes lampBlink{
		0%{
			opacity: 0;
		}

		to{
			opacity: 1;
		}
	}

	@keyframes lampBlink{
		0%{
			opacity: 0;
		}

		to{
			opacity: 1;
		}
	}
}

@media screen and (min-width: 992px){

	@-webkit-keyframes questionSlideIn{
		20%{
			height: 300px;
			width: 300px;
			top: 34vh;
			left: calc(50vw - 150px);
			-webkit-transform: rotate(0);
					transform: rotate(0);
			opacity: 1;
		}
		
		35%{
			height: 300px;
			width: 300px;
			top: 34vh;
			left: calc(50vw - 150px);
			-webkit-transform: rotate(0);
					transform: rotate(0);
			opacity: 1;
		}

		70%{
			height: 250px;
			width: 250px;
			top: calc(50vh);
			left: calc(50vw - 380px);
			-webkit-transform: rotate(0);
					transform: rotate(0);
			opacity: 0.2;
		}
		
		to{
			height: 250px;
			width: 250px;
			top: calc(50vh);
			left: calc(50vw - 380px);
			-webkit-transform: rotate(0);
					transform: rotate(0);
			opacity: 0.2;
		}
	}

	@keyframes questionSlideIn{
		20%{
			height: 300px;
			width: 300px;
			top: 34vh;
			left: calc(50vw - 150px);
			-webkit-transform: rotate(0);
					transform: rotate(0);
			opacity: 1;
		}


		35%{
			height: 300px;
			width: 300px;
			top: 34vh;
			left: calc(50vw - 150px);
			-webkit-transform: rotate(0);
					transform: rotate(0);
			opacity: 1;
		}

		70%{
			height: 250px;
			width: 250px;
			top: calc(50vh);
			left: calc(50vw - 380px);
			-webkit-transform: rotate(0);
					transform: rotate(0);
			opacity: 0.2;
		}

		to{
			height: 250px;
			width: 250px;
			top: calc(50vh);
			left: calc(50vw - 380px);
			-webkit-transform: rotate(0);
					transform: rotate(0);
			opacity: 0.2;
		}
	}

	@-webkit-keyframes lampBlink{
		0%{
			opacity: 0;
		}

		to{
			opacity: 1;
		}
	}

	@keyframes lampBlink{
		0%{
			opacity: 0;
		}

		to{
			opacity: 1;
		}
	}
}
