$font-stack: "Bangers", helvetica;
$font-stack2: 'Varela Round', sans-serif;
$font-stack3: 'Alegreya', serif;
$font-stack4: 'Architects Daughter', cursive;
$font-stack5: 'Comfortaa', cursive;
$font-stack6: 'Satisfy', cursive;
$font-stack7: 'Kaushan Script', cursive;
$font-stack8: 'Courgette', cursive;

@media screen and (min-width:992px){
	.aboutMe{

		.questionMarkComeIn{
			-webkit-animation: questionSlideIn 6s ease 0.5s;
			        animation: questionSlideIn 6s ease 0.5s;
			-webkit-animation-fill-mode: forwards;
			        animation-fill-mode: forwards;
		}

		@-webkit-keyframes questionSlideIn{
			20%{
				height: 300px;
				width: 300px;
				top: 34vh;
				left: calc(50vw - 150px);
				-webkit-transform: rotate(0);
				        transform: rotate(0);
				opacity: 1;
			}


			50%{
				height: 300px;
				width: 300px;
				top: 34vh;
				left: calc(50vw - 150px);
				-webkit-transform: rotate(0);
				        transform: rotate(0);
				opacity: 1;
			}

			
			to{
				height: 250px;
				width: 250px;
				top: calc(50vh);
				left: calc(50vw - 380px);
				-webkit-transform: rotate(0);
				        transform: rotate(0);
				opacity: 0.2;
			}
		}

		@keyframes questionSlideIn{
			20%{
				height: 300px;
				width: 300px;
				top: 34vh;
				left: calc(50vw - 150px);
				-webkit-transform: rotate(0);
				        transform: rotate(0);
				opacity: 1;
			}


			50%{
				height: 300px;
				width: 300px;
				top: 34vh;
				left: calc(50vw - 150px);
				-webkit-transform: rotate(0);
				        transform: rotate(0);
				opacity: 1;
			}

			
			to{
				height: 250px;
				width: 250px;
				top: calc(50vh);
				left: calc(50vw - 380px);
				-webkit-transform: rotate(0);
				        transform: rotate(0);
				opacity: 0.2;
			}
		}

		>img:nth-of-type(2){
			top: 12vh;
			right: calc(50vw - 350px);
			height: 120px;
			width: 120px;
		}

		.lampBlinkStart{
			-webkit-animation: lampBlink 1.5s 4s;
			        animation: lampBlink 1.5s 4s;
			-webkit-animation-fill-mode: forwards;
			        animation-fill-mode: forwards;
			-webkit-animation-iteration-count: 4;
			        animation-iteration-count: 4;
		}

		@-webkit-keyframes lampBlink{
			0%{
				opacity: 0;
			}

			to{
				opacity: 1;
			}
		}

		@keyframes lampBlink{
			0%{
				opacity: 0;
			}

			to{
				opacity: 1;
			}
		}
		
		> h2:nth-of-type(1){
			display: block;
			float: none;
			width: 290px;
			margin: 23vh auto 0 auto;
		}

		.headingComeIn{
			-webkit-animation: textSlideIn 1s ease;
			        animation: textSlideIn 1s ease;
			-webkit-animation-fill-mode:forwards;
			        animation-fill-mode:forwards;
		}

		div:nth-of-type(1){
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			float: none;
			margin: 0 auto;
			width: 800px;
			p{
				margin: 50px 10px;
				font-size: 1.3em;
			}

			p:nth-of-type(1){
				
			}

			p:nth-of-type(3){
				
			}
		}

		.paragraphComeIn{
			-webkit-animation: textSlideIn 2s ease 4s;
			        animation: textSlideIn 2s ease 4s;
			-webkit-animation-fill-mode:forwards;
			        animation-fill-mode:forwards;
		}
	}

	.skills{

		h2{
			margin-bottom: 25px;
		}

		.slider{
			position: static;
			height: auto;
			width: auto;

			.prevArrow{
				display: none;
			}

			.nextArrow{
				display: none;
			}

			.slides{
				position: static;
				display: block;
				margin: 0 auto;
				width: 800px;
				height: auto;

				img:nth-of-type(1), img:nth-of-type(10){
					display: none;
				}

				img{
					float: left;
					margin: 25px 25px;
					height: 150px;
					max-width: 150px;
					-webkit-transition: 0.3s ease;
					transition: 0.3s ease;
				}

				img:hover{
					/* max-height: 65px;*/
					/* max-width: 65px;*/
					/* transform: rotateY(45deg);*/
					border: solid 1px white;
					border-radius: 50%;
				}
			}

			.progressBar{
				display: none;
			}
		}
	}
}