$font-stack: "Bangers", helvetica;
$font-stack2: 'Varela Round', sans-serif;
$font-stack3: 'Alegreya', serif;
$font-stack4: 'Architects Daughter', cursive;
$font-stack5: 'Comfortaa', cursive;
$font-stack6: 'Satisfy', cursive;
$font-stack7: 'Kaushan Script', cursive;
$font-stack8: 'Courgette', cursive;

@media screen and (min-width:768px){
	.intro{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		padding-top: 40vh;

		.myPhoto{
			margin: 0 70px 0 calc(50% - 195px);
			}
			.myNameTitle{
			> p:nth-of-type(1){
				margin: 20px 0 0 5px;
			}

			> p:nth-of-type(2){
				margin-left: 5px;
			}

			> p:nth-of-type(3){
				margin-left: 5px;
			}
		}
	}

	.aboutMe{

		.questionMarkComeIn{
			-webkit-animation: questionSlideIn 6s ease 0.5s;
			        animation: questionSlideIn 6s ease 0.5s;
			-webkit-animation-fill-mode: forwards;
			        animation-fill-mode: forwards;
		}

		@-webkit-keyframes questionSlideIn{
			20%{
				height: 350px;
				width: 350px;
				top: calc(50vh - 175px);
				left: 100px;
				-webkit-transform: rotate(0);
				        transform: rotate(0);
				opacity: 1;
			}


			50%{
				height: 350px;
				width: 350px;
				top: calc(50vh - 175px);
				left: 100px;
				-webkit-transform: rotate(0);
				        transform: rotate(0);
				opacity: 1;
			}

			
			to{
				height: 300px;
				width: 300px;
				top: calc(50vh - 150px);
				left: 125px;
				-webkit-transform: rotate(0);
				        transform: rotate(0);
				opacity: 0.2;
			}
		}

		@keyframes questionSlideIn{
			20%{
				height: 350px;
				width: 350px;
				top: calc(50vh - 175px);
				left: 100px;
				-webkit-transform: rotate(0);
				        transform: rotate(0);
				opacity: 1;
			}


			50%{
				height: 350px;
				width: 350px;
				top: calc(50vh - 175px);
				left: 100px;
				-webkit-transform: rotate(0);
				        transform: rotate(0);
				opacity: 1;
			}

			
			to{
				height: 300px;
				width: 300px;
				top: calc(50vh - 150px);
				left: 125px;
				-webkit-transform: rotate(0);
				        transform: rotate(0);
				opacity: 0.2;
			}
		}

		>img:nth-of-type(2){
			display: block;
			height: 200px;
			width: 200px;
			position: absolute;
			top: calc(50vh - 100px);
			right: 90px;
			opacity: 0;
		}

		.lampBlinkStart{
			-webkit-animation: lampBlink 1.5s 2s;
			        animation: lampBlink 1.5s 2s;
			-webkit-animation-fill-mode: forwards;
			        animation-fill-mode: forwards;
			-webkit-animation-iteration-count: 4;
			        animation-iteration-count: 4;
		}

		@-webkit-keyframes lampBlink{
			0%{
				opacity: 0;
			}

			to{
				opacity: 1;
			}
		}

		@keyframes lampBlink{
			0%{
				opacity: 0;
			}

			to{
				opacity: 1;
			}
		}
		
		> h2:nth-of-type(1){
			float: left;
			width: 290px;
			margin: 11vh auto 0 130px;
		}

		.headingComeIn{
			-webkit-animation: textSlideIn 1s ease;
			        animation: textSlideIn 1s ease;
			-webkit-animation-fill-mode:forwards;
			        animation-fill-mode:forwards;
		}

		div:nth-of-type(1){
			float: left;
			clear: left;
			width: 350px;
			margin-left: 100px;
		}

		.paragraphComeIn{
			-webkit-animation: textSlideIn 2s ease 4s;
			        animation: textSlideIn 2s ease 4s;
			-webkit-animation-fill-mode:forwards;
			        animation-fill-mode:forwards;
		}
	}

	.portfolio{

		div:nth-of-type(1){
			// width: 380px;

			div{
				margin: 18px auto;
			}

		}
		
		div:nth-of-type(2){
			margin-top: 40px;
		}
	}

	.skills{

		h2{
			margin-top: 12vh;
			margin-bottom: 50px;
		}

		.slider{
			height: 300px;

			.prevArrow{
				height: 240px;
				padding-left: calc(50% - 190px);
				-webkit-box-shadow: inset -30px 0px 55px 0px rgba(66, 72, 81, 0.8);
				        box-shadow: inset -30px 0px 55px 0px rgba(66, 72, 81, 0.8);
				border-right: 1px solid white;
				border-top-right-radius: 40%;
				border-bottom-right-radius: 40%;
				background: rgb(220, 223, 229);

					img{
						margin-top: 100px;
					}
				}

			.nextArrow{
				height: 240px;
				padding-right: calc(50% - 190px);
				-webkit-box-shadow: inset 30px 0px 55px 0px rgba(66, 72, 81, 0.8);
				        box-shadow: inset 30px 0px 55px 0px rgba(66, 72, 81, 0.8);
				border-right: 1px solid white;
				border-top-left-radius: 40%;
				border-bottom-left-radius: 40%;
				background: rgb(234, 236, 239);

					img{
						margin-top: 100px;
					}
				}

			.slides{
				position: absolute;
				top: 0;
				margin-left: -300px;
				left: calc(50% - 150px);
				height: 250px;
				width: 3000px;
				overflow: hidden;

				img{
					float: left;
					margin: 25px 50px;
					height: 250px;
					max-height: 200px;
					max-width: 200px;
					-webkit-transition: 0.3s ease;
					transition: 0.3s ease;
				}

				img:hover{
					/* max-height: 65px;*/
					/* max-width: 65px;*/
					/* transform: rotateY(45deg);*/
					border: solid 1px white;
					border-radius: 50%;
				}
			}

			.progressBar{
				position: absolute;
				bottom: 0;
				left: calc(50% - 135px);
				height: 30px;

				img{
					max-width: 30px;
					height: 30px;
					-webkit-transition: 0.3s;
					transition: 0.3s;
				}

				img:hover{
					border-radius: 30%;
					-webkit-box-shadow: 0px 0px 5px 0px rgba(256,256,256,0.75);
					        box-shadow: 0px 0px 5px 0px rgba(256,256,256,0.75);
				}

				.active{
					border-radius: 30%;
					-webkit-box-shadow: 0px 0px 5px 0px rgba(256,256,256,0.75);
					        box-shadow: 0px 0px 5px 0px rgba(256,256,256,0.75);
				}
			}
		}
	}
	.contact{
		padding-top: 35vh;
		
		.form{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			    flex-wrap: wrap;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-webkit-box-pack: start;
			    -ms-flex-pack: start;
			        justify-content: flex-start;
			height: 260px;
			width: 600px;
			margin: 30px auto 0 auto;
			
			label:nth-of-type(1), label:nth-of-type(2){
				width: 50%;
				margin: 0;
			}

			input{
				height: 25px;
				width: calc(50% - 20px);
				margin: 0 10px;
				line-height: 25px;
			}

			textarea{
				height: 150px;
				margin: 0 10px;
				line-height: 25px;
			}

			label:nth-of-type(3), textarea{
				width: 100%;
			}

			label:nth-of-type(1){
				-webkit-box-ordinal-group: 2;
				    -ms-flex-order: 1;
				        order: 1;
			}

			label:nth-of-type(2){
				-webkit-box-ordinal-group: 3;
				    -ms-flex-order: 2;
				        order: 2;
			}

			input:nth-of-type(1){
				-webkit-box-ordinal-group: 4;
				    -ms-flex-order: 3;
				        order: 3;
			}

			input:nth-of-type(2){
				-webkit-box-ordinal-group: 5;
				    -ms-flex-order: 4;
				        order: 4;
			}

			label:nth-of-type(3){
				margin-top: 35px;
				-webkit-box-ordinal-group: 6;
				    -ms-flex-order: 5;
				        order: 5;
			}

			textarea{
				-webkit-box-ordinal-group: 7;
				    -ms-flex-order: 6;
				        order: 6;
			}
		}
		.phoneEmail{
			font-size: 1em;
			
			.phone, .email{
				margin: 0 60px;

					img{
						max-width: 45px;
					}
			}
		}
	}
}

