@media screen and (min-width: 992px) {
  .aboutMe .questionMarkComeIn {
    -webkit-animation: questionSlideIn 6s ease 0.5s;
    animation: questionSlideIn 6s ease 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  @-webkit-keyframes questionSlideIn {
    20% {
      height: 300px;
      width: 300px;
      top: 34vh;
      left: calc(50vw - 150px);
      -webkit-transform: rotate(0);
      transform: rotate(0);
      opacity: 1;
    }
    50% {
      height: 300px;
      width: 300px;
      top: 34vh;
      left: calc(50vw - 150px);
      -webkit-transform: rotate(0);
      transform: rotate(0);
      opacity: 1;
    }
    to {
      height: 250px;
      width: 250px;
      top: calc(50vh);
      left: calc(50vw - 380px);
      -webkit-transform: rotate(0);
      transform: rotate(0);
      opacity: 0.2;
    }
  }
  @keyframes questionSlideIn {
    20% {
      height: 300px;
      width: 300px;
      top: 34vh;
      left: calc(50vw - 150px);
      -webkit-transform: rotate(0);
      transform: rotate(0);
      opacity: 1;
    }
    50% {
      height: 300px;
      width: 300px;
      top: 34vh;
      left: calc(50vw - 150px);
      -webkit-transform: rotate(0);
      transform: rotate(0);
      opacity: 1;
    }
    to {
      height: 250px;
      width: 250px;
      top: calc(50vh);
      left: calc(50vw - 380px);
      -webkit-transform: rotate(0);
      transform: rotate(0);
      opacity: 0.2;
    }
  }
  .aboutMe > img:nth-of-type(2) {
    top: 12vh;
    right: calc(50vw - 350px);
    height: 120px;
    width: 120px;
  }
  .aboutMe .lampBlinkStart {
    -webkit-animation: lampBlink 1.5s 4s;
    animation: lampBlink 1.5s 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 4;
    animation-iteration-count: 4;
  }
  @-webkit-keyframes lampBlink {
    0% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes lampBlink {
    0% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .aboutMe > h2:nth-of-type(1) {
    display: block;
    float: none;
    width: 290px;
    margin: 23vh auto 0 auto;
  }
  .aboutMe .headingComeIn {
    -webkit-animation: textSlideIn 1s ease;
    animation: textSlideIn 1s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .aboutMe div:nth-of-type(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: none;
    margin: 0 auto;
    width: 800px;
  }
  .aboutMe div:nth-of-type(1) p {
    margin: 50px 10px;
    font-size: 1.3em;
  }
  .aboutMe .paragraphComeIn {
    -webkit-animation: textSlideIn 2s ease 4s;
    animation: textSlideIn 2s ease 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .skills h2 {
    margin-bottom: 25px;
  }
  .skills .slider {
    position: static;
    height: auto;
    width: auto;
  }
  .skills .slider .prevArrow {
    display: none;
  }
  .skills .slider .nextArrow {
    display: none;
  }
  .skills .slider .slides {
    position: static;
    display: block;
    margin: 0 auto;
    width: 800px;
    height: auto;
  }
  .skills .slider .slides img:nth-of-type(1), .skills .slider .slides img:nth-of-type(10) {
    display: none;
  }
  .skills .slider .slides img {
    float: left;
    margin: 25px 25px;
    height: 150px;
    max-width: 150px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .skills .slider .slides img:hover {
    /* max-height: 65px;*/
    /* max-width: 65px;*/
    /* transform: rotateY(45deg);*/
    border: solid 1px white;
    border-radius: 50%;
  }
  .skills .slider .progressBar {
    display: none;
  }
}
/*# sourceMappingURL=mainMq2.css.map */