@import "animations";

$font-stack: "Bangers", helvetica;
$font-stack2: "Quicksand", sans-serif;

@mixin scrollText($bottom, $left, $right, $color, $animationName){
	position: absolute;
	bottom: $bottom;
	left: $left;
	right: $right;
	height: 60px;
	font-family: $font-stack;
	font-size: 1em;
	letter-spacing: .6px;

	&__anchor{
		color: $color;
	}

	&__image{
		height: 40px;
		width: 50px;
		-webkit-animation-name: $animationName;
		        animation-name: $animationName;
		-webkit-animation-duration: 2s;
		        animation-duration: 2s;
			-webkit-animation-iteration-count: infinite;
			        animation-iteration-count: infinite;
			-webkit-animation-direction: normal;
			        animation-direction: normal;
	}
}

/*************************
GENERIC
*************************/

*{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.wrapper{
	position: relative;
	height: 100%;
	width: 100%;
	background: url("../img/spacewalker.jpg") fixed center no-repeat;
	background-size: cover;
	font-family: $font-stack;
	font-size: 1em;
	z-index: 1;
}

a{
	text-decoration: none;
}

@media screen and (min-width: 992px){
	.wrapper{
		font-size: 1.1em;
	}
}

/*******************
LOGO
*******************/

.logo{
	position: fixed;
	top: 1rem;
	left: 1rem;
	height: 24px;
	width: 40px;
	font-family: $font-stack;
	font-size: 2em;
	color: white;
	z-index: 9999;

	&__first-letter, &__second-letter{
		position: absolute;
	}

	&__first-letter{
		top: 0;
		left: 0;
	}

	&__second-letter{
		top: 3px;
		left: 10px;
	}
}

/*****************
NAV
******************/

.menuBars{
	$self: &;
	position: fixed;
	top: 1.15rem;
	right: 1rem;
	height: 24px;
	width: 40px;
	z-index: 9999;
	cursor: pointer;
	-webkit-transition: 1s;
	transition: 1s;

	&__bar1, &__bar2, &__bar3{
		position: absolute;
		top: 0;
		left: 0;
		height: 4px;
		width: 100%;
		background: white;
		z-index: 1000;
		border: 1px solid white;
		-webkit-transition: 0.3s ease;
		transition: 0.3s ease;
	}

	&__bar1{

		&--open{
			-webkit-transform: translateY(10px) translateX(0) rotate(45deg);
					transform: translateY(10px) translateX(0) rotate(45deg);
		}
	}

	&__bar2{
		top: 10px;

		&--open{
			opacity: 0;
		}
	}

	&__bar3{
		top: 20px;

		&--open{
			-webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
		    		transform: translateY(-10px) translateX(0) rotate(-45deg);
		}
	}
}

.overlay{
	position: fixed;
	top: -100%;
	left: 0;
	height: 100vh;
	width: 100%;
	font-family: $font-stack;
	background: rgba(0, 0, 0, 0.9);
	z-index: 999;
	opacity: 0;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}

.navList{
	margin-top: 30vh;

	&__item{
		margin: 15px auto;
		height: 30px;
		text-align: center;
		list-style-type: none;
		cursor: pointer;
		opacity: 0;
		-webkit-transition: 0.3s ease 0.3s;
		transition: 0.3s ease 0.3s;

		&__anchor{
			display: block;
			color: white;
			font-size: 2em;
		}

		&--visible{
			opacity: 1;
		}

		&--tdelay2{
			-webkit-transition-delay: 0.35s;
					transition-delay: 0.35s;
		}
	
		&--tdelay3{
			-webkit-transition-delay: 0.4s;
					transition-delay: 0.4s;
		}
	
		&--tdelay4{
			-webkit-transition-delay: 0.45s;
					transition-delay: 0.45s;
		}
	
		&--tdelay5{
			-webkit-transition-delay: 0.5s;
					transition-delay: 0.5s;
		}
	}

	
}

.overlay--open{
	top: 0;
	opacity: 1;
}

/***************
INTRO SECTION
***************/

.introSection{
	position: relative;
	min-height: 100vh;
	width: 100%;
	padding-top: 30vh;
	padding-bottom: 1px;
	color: white;
	text-align: center;
	-webkit-animation: introBgLaunch 2.5s ease-in-out 0s forwards;
	        animation: introBgLaunch 2.5s ease-in-out 0s forwards;
	-webkit-box-shadow: inset 0px -40px 70px -70px white;
	        box-shadow: inset 0px -40px 70px -70px white;
}

.myPhoto{
	margin: 0 auto 5px;
	height: 100px;
	width: 100px;
	background: url("../img/sa.jpg") no-repeat 50% 50%/cover;
	border-radius: 50%;
	z-index: 9999;
	opacity: 0;
	-webkit-animation: introPicturePop 1.5s linear 1.5s forwards;
			animation: introPicturePop 1.5s linear 1.5s forwards;
}

.myNameTitle{
	letter-spacing: 1px;
	text-align: center;
	width: 250px;
	margin: 0 auto;
	overflow: visible;
	&__name{
		font-size: 2em;
		opacity: 0;
		-webkit-animation: introTextSlide .6s ease-out 1s forwards;
				animation: introTextSlide .6s ease-out 1s forwards;
	}

	&__title{
		font-size: 1em;
		opacity: 0;
		-webkit-animation: introTextSlide .6s ease-out 1.4s forwards;
				animation: introTextSlide .6s ease-out 1.4s forwards;
	}

	&__underline{
		display: block;
		margin: 3px auto 0;
		height: 1px;
		width: 180px;
		background: white;
		opacity: 0;
		-webkit-animation: introUnderlineAppear 1s ease-out 2s forwards;
				animation: introUnderlineAppear 1s ease-out 2s forwards;
	}
}

.scrollText{
	@include scrollText(5px, 0, 0, white, scrollText);
}

@media screen and (min-width:768px){

	.introSection{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		padding-top: 40vh;
	}

	.myPhoto{
		margin: 0 0 0 calc(50% - 195px);
	}

	.myNameTitle{
		margin: 0;

		&__name{
			margin: 20px 0 0 5px;
		}

		&__title{
			margin-left: 5px;
		}

		&__underline{
			margin-left: 0 auto;
			width: 180px;
		}
	}
}

/*****************
ABOUT ME
******************/

.aboutSection{
	position: relative;
	min-height: 100vh;
	padding-top: 1px;
	padding-bottom: 1px;
	background: rgba(168, 37, 37, 0.95);
	font-family: $font-stack2;
	color: white;
	text-align: center;
	-webkit-box-shadow: inset 0px -50px 70px -70px white;
	        box-shadow: inset 0px -50px 70px -70px white;
	z-index: 99;
//question mark image
	&__qImg{
		position: absolute;
		height: 0;
		width: 0;
		top: 0;
		left: 0;
		-webkit-transform: rotate(-225deg);
		        transform: rotate(-225deg);
		opacity: 1;

		&--questionMarkComeIn{
			-webkit-animation: questionSlideIn 2s ease;
					animation: questionSlideIn 2s ease;
			-webkit-animation-fill-mode:forwards;
					animation-fill-mode:forwards;
		}
	}
//lamp img
	&__lImg{
		display: none;
	}

	&__heading{
		width: 290px;
		margin: 9vh auto 15px auto;
		font-size: 1.4em;
		font-style: italic;
		padding-bottom: 3px;
		border-bottom: 1.5px solid white;
		border-bottom-left-radius: 15%;
		border-bottom-right-radius: 15%;
		opacity: 0;

		&--headingComeIn{
			-webkit-animation: textSlideIn 2s ease 0.5s;
					animation: textSlideIn 2s ease 0.5s;
			-webkit-animation-fill-mode:forwards;
					animation-fill-mode:forwards;
		}
	}

	&__article{
		margin-top: 30px;
		opacity: 0;
		font-size: .9em;
		font-style: italic;
		background: rgba(255, 255, 255, 0.05);
		border-radius: 2px;
		border: 1px solid rgba(255, 255, 255, .1);
		//text slide in
		&--paragraphComeIn{
			-webkit-animation: textSlideIn 1s ease 0.5s;
					animation: textSlideIn 1s ease 0.5s;
			-webkit-animation-fill-mode:forwards;
					animation-fill-mode:forwards;
		}
	}

	&__paragraph{
		margin: 10px 6px;
		text-align: center;
	}	

	&__list{
		list-style-type: none;

		&__li{
			margin: 5px;
		}
	}
}

.scrollText{
	@include scrollText(5px, 0, 0, white, scrollText);
}

@media screen and (min-width:768px){

	.aboutSection{
		min-height: 100vh;
//question img
		&__qImg{

			&--questionMarkComeIn{
				-webkit-animation: questionSlideIn 6s ease 0.5s;
						animation: questionSlideIn 6s ease 0.5s;
				-webkit-animation-fill-mode: forwards;
						animation-fill-mode: forwards;
			}
		}
//lamp img
		&__lImg{
			position: absolute;
			display: block;
			height: 200px;
			width: 200px;
			top: calc(50vh - 100px);
			right: 90px;
			opacity: 0;

			&--lampBlinkStart{
				-webkit-animation: lampBlink 1.5s 2s;
						animation: lampBlink 1.5s 2s;
				-webkit-animation-fill-mode: forwards;
						animation-fill-mode: forwards;
				-webkit-animation-iteration-count: 4;
						animation-iteration-count: 4;
			}
		}
		
		&__heading{
			float: left;
			width: 290px;
			margin: 10vh auto 25px 130px;

			&--headingComeIn{
				-webkit-animation: textSlideIn 1s ease;
						animation: textSlideIn 1s ease;
				-webkit-animation-fill-mode:forwards;
						animation-fill-mode:forwards;
			}
		}

		&__article{
			float: left;
			clear: left;
			width: 350px;
			margin-top: 0;
			margin-left: 100px;

			&--paragraphComeIn{
				-webkit-animation: textSlideIn 2s ease 4s;
						animation: textSlideIn 2s ease 4s;
				-webkit-animation-fill-mode:forwards;
						animation-fill-mode:forwards;
			}
		}
	}
}

@media screen and (min-width:992px){

	.aboutSection{

		&__qImg{

			&--questionMarkComeIn{
				-webkit-animation: questionSlideIn 6s ease 0.5s;
						animation: questionSlideIn 6s ease 0.5s;
				-webkit-animation-fill-mode: forwards;
						animation-fill-mode: forwards;
			}
		}
//lamp img
		&__lImg{
			top: 12vh;
			right: calc(50vw - 350px);
			height: 120px;
			width: 120px;

			&--lampBlinkStart{
				-webkit-animation: lampBlink 1.5s 4s;
						animation: lampBlink 1.5s 4s;
				-webkit-animation-fill-mode: forwards;
						animation-fill-mode: forwards;
				-webkit-animation-iteration-count: 4;
						animation-iteration-count: 4;
			}
		}
		
		&__heading{
			display: block;
			float: none;
			width: 290px;
			margin: calc(50vh - 150px) auto 25px auto;

			&--headingComeIn{
				-webkit-animation: textSlideIn 1s ease;
						animation: textSlideIn 1s ease;
				-webkit-animation-fill-mode:forwards;
						animation-fill-mode:forwards;
			}
		}

		&__article{
			display: -webkit-box;
			display: -ms-flexbox;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			float: none;
			margin: 0 auto;
			width: 800px;

			&--paragraphComeIn{
				-webkit-animation: textSlideIn 2s ease 1s;
						animation: textSlideIn 2s ease 1s;
				-webkit-animation-fill-mode:forwards;
						animation-fill-mode:forwards;
			}
		}

		&__paragraph{
			margin: 6px 10px;
			font-size: 1.1em;
		}
	}
}

/*****************
SKILLS
******************/
	
.skillsSection{
	position: relative;
	min-height: 100vh;
	width: 100%;
	padding: 1px 0;
	background: rgba(76, 83, 94, 0.9);
	font-family: $font-stack;
	color: white;
	text-align: center;
	overflow: hidden;
	-webkit-box-shadow: inset 0px -50px 70px -70px white;
	        box-shadow: inset 0px -50px 70px -70px white;
	
	&__heading{
		margin: 14vh 0 25px 0;
		letter-spacing: 2px;
	}
}

//slider styling

.slider{
	overflow: hidden;
	background: rgba(255, 255, 255, .03);
	border-top: 1px solid rgba(255, 255, 255, .03);
	border-bottom: 1px solid rgba(255, 255, 255, .03); 

	&__container{
		position: relative;
		height: 40vh;
		margin: 20px auto;
		overflow: hidden;
	}

	&__slide{
		height: auto;
		width: 200px;
		position: absolute;
		top: calc(50% - 100px);
		left: calc(50% - 100px);
	}

	&__leftArrow, &__rightArrow{
		height: 50px;
		width: auto;
		position: absolute;
		top: calc(50% - 25px);
		cursor: pointer;
		-webkit-transition: all .2s;
		transition: all .2s; 
		border-radius: 5px;
		&:hover{
			background: rgba(255, 255, 255, .05);
		}
	}
	
	&__leftArrow{
		left: calc(50% - 150px);
	}
	
	&__rightArrow{
		right: calc(50% - 150px);
	}

	&__bar{
		height: 8%;
		padding: 4px 0;
		line-height: 8%;
		-webkit-transition: all 1s;
		transition: all 1s;
		border-top: 1px solid rgba(255, 255, 255, .1);
	
		&__img{
			margin: 0 2px;
			width: 5%;
			max-height: 8%;
			-webkit-transition: all 1s;
			transition: all 1s;
			cursor: pointer;

			&:hover{
				background: rgba(255, 255, 255, 0.3);
				border-radius: 5%;
			}

			&--active{
				background: rgba(255, 255, 255, 0.3);
				border-radius: 5%;
			}
		}
	}
}
//styling of active slidesBar item

@media screen and (min-width:768px){
	.skillsSection{

		&__heading{
			margin-top: 12vh;
			margin-bottom: 50px;
		}

 	}
}

@media screen and (min-width: 992px){

	.skillsSection{
		min-height: 100vh;
	
			&__heading{
				margin-bottom: 25px;
			}
		}
}

/*****************
PORTFOLIO
******************/

//portfolio wrapper
.portfolioSection{
	position: relative;
	height: 2450px;
	padding-top: 1px;
	padding-bottom: 1px;
	background: rgba(168, 37, 37, 0.97);
	color: white;
	text-align: center;
	-webkit-box-shadow: inset 0px -55px 70px -70px black;
			box-shadow: inset 0px -55px 70px -70px black;

	&__header{
		display: inline-block;
		width: 100%;
		margin-top: 10vh;
		font-weight: 100;
	}

	&__itemsContainer{
		border-top: 1px solid white;
		margin: 25px auto 25px auto;
		padding: 10px;
		background: rgba(255, 255, 255, .03);
		width: 99%;
		display: grid;
		grid: auto-flow / 1fr;
		grid-gap: 5px;
	}
}

.portfolioItem{
	-webkit-transition: 1s ease 0.4s;
	transition: 1s ease 0.4s;
	position: relative;
	height: 185px;
	width: 260px;
	margin: auto;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	-webkit-box-shadow: -4px 4px 17px -2px rgba(0,0,0,0.65);
			box-shadow: -4px 4px 17px -2px rgba(0,0,0,0.65);
	z-index: 2;
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
	opacity: 0;
	display: grid;
	grid: 50px 1fr 50px / 1fr;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	&:hover::after{
		opacity: .6;
	}

//title of item
	&__heading{
		font-weight: 100;
		//margin: 15px 0 0 0;
		z-index: 2;
		letter-spacing: 1.3px;
		text-shadow: 1px 1px rgba(0,0,0,0.65);
		font-size: 1.3em;
	}

//text of item
	&__p{	
		font-family: $font-stack2;
		font-size: 0.9em;
		font-style: italic;
		//margin-top: 15px;
		z-index: 2;
	}
//button
	&__button{
		// position: absolute;
		// bottom: 5px;
		// left: 0;
		// right: 0;
		height: 30px;
		width: 50px;
		//margin: 15px auto;
		font-family: inherit;
		background: none;
		color: white;
		text-align: center;
		line-height: 30px;
		border: 1px solid white;
		border-radius: 15%;
		-webkit-box-shadow: -4px 4px 17px -2px rgba(0,0,0,0.60);
				box-shadow: -4px 4px 17px -2px rgba(0,0,0,0.60);
		z-index: 2;

		&:hover{
			background: white;
			color: rgb(76, 83, 94);
		}
	}

	&::after {
		content: "";
		opacity: 0.4;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -1;   
	}

	//item backgrounds
	&--szymskiBeats::after{
		background: url("../img/szymskiBeats.jpg") 0 no-repeat;
	}

	&--artofgraf::after{
		background: url("../img/absoluteFreedom.jpg") 50% no-repeat;
	}

	&--drumMachine::after{
		background: url("../img/drumMachine.jpg") 50% no-repeat;
	}

	&--calculator::after{
		background: url("../img/Calculator.jpg") 50% no-repeat;
	}

	&--weatherApp::after{
		background: url("../img/weatherApp.jpg") 50% no-repeat;
	}

	&--pankodzinski::after{
		background: url("../img/pankodzinski.jpg") 50% no-repeat;
	}

	&--sessionClock::after{
		background: url("../img/sessionClock.jpg") 50% no-repeat;
	}

	&--toDoQuestList::after{
		background: url("../img/toDoList.jpg") 50% no-repeat;
	}

	&--supremeQuiz::after{
		background: url("../img/quiz.jpg") 50% no-repeat;
	}

	&--markdownPreviewer::after{
		background: url("../img/markdownPreviewer.jpg") 50% no-repeat;
	}

	&--visible{
		-webkit-transform: translateY(0);
				transform: translateY(0);
		opacity: 1;
	}
}

//classes for animations


.githubProfile{
	width: 250px;
	margin: 40px auto;
	overflow: hidden;
	font-size: 0.9em;
	letter-spacing: 1px;

	&__heading{
		margin: 10px auto;
		letter-spacing: 1.5px;
	}

	&__anchor{

		&__img, &__p{
			display: inline-block;
			vertical-align: middle;
		}

		&__img{
			max-width: 30%;
		}

		&__p{
			color: white;
			font-weight: 100;
		}
	}
}

@media screen and (min-width:768px){

	.portfolioSection{
		height: 1550px;

		&__itemsContainer{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
				flex-wrap: wrap;
			margin: auto;
			width: 650px;
			display: grid;
			grid: auto-flow / 1fr 1fr;
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center;
		}
	}

	.portfolioItem {
		width: 300px;
		margin: auto;

		// &__button{
		// 	margin: 18px auto;
		// }	
		
		// &__p{
		// 	margin-top: 15px;
		// }
	}
}

@media screen and (min-width:992px){

	.portfolioSection__itemsContainer{
		max-width: 1000px;
		grid-gap: 10px;
	}

	.portfolioItem{
		width: 300px;
	}
}

/*****************
CONTACT
******************/

//contact wrapper
.contactSection{
	position: relative;
	min-height: 100vh;
	width: 100%;
	padding-top: 20vh;
	background-color: rgba(40, 58, 89, 0.99);
	font-family: $font-stack;
	letter-spacing: .6px;
	color: white;
	text-align: center;
	-webkit-box-shadow: inset 0px -55px 70px -70px white;
	        box-shadow: inset 0px -55px 70px -70px white;

	&__heading{
		font-weight: 100;
	}

	.scrollText{
		@include scrollText(5px, 0, 0, white, scrollTextRev);
	}
}

.form{
	margin-top: 15px;

	&__label, &__input, &__textarea{
		width: 70%;
		display: block;
		margin: 0 auto;
	}

	&__input::-webkit-input-placeholder, &__textarea::-webkit-input-placeholder{
		font-style: italic;
		text-align: center;
	}

	&__input:-ms-input-placeholder, &__textarea:-ms-input-placeholder{
		font-style: italic;
		text-align: center;
	}

	&__input::-ms-input-placeholder, &__textarea::-ms-input-placeholder{
		font-style: italic;
		text-align: center;
	}

	&__input::placeholder, &__textarea::placeholder{
		font-style: italic;
		text-align: center;
	}

	&__label{
		margin-top: 10px;
	}

	&__input{
		margin-top: 5px;
		border-radius: 5%;
		font-family: $font-stack2;
		color: rgb(40, 58, 89);
	}

	&__textarea{
		height: 80px;
		margin-top: 5px;
		border-radius: 2%;
		font-family: $font-stack2;
		color: rgb(40, 58, 89);
	}

	&__input, &__textarea{
		font-size: .8em;
	}

	&__inputSubmit{
		height: 28px;
		width: 50px;
		margin-top: 15px;
		border-radius: 20%;
		font-family: $font-stack;
		letter-spacing: .6px;
		color: rgb(40, 58, 89);
		background: white;
		cursor: pointer;
	}
}

//phone and email wrapper
.phoneEmail{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	margin-top: 40px;
	font-family: $font-stack;
	letter-spacing: .6px;
	font-size: 0.8em;

	&__phone, &__email{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: auto;
		-webkit-box-align: center;
			-ms-flex-align: center;
				align-items: center;
		margin: 0 10px;
		color: white;
	
		&__img{
			float: none;
			max-width: 30px;
		}
	
		&__p{
			float: none;
			margin: 0 0 0 5px;
		}
	}

	&__email{
		background: rgba(255, 255, 255, 0.05);
		border-radius: 4px;
		border: 1px solid rgba(255, 255, 255, .1);
		padding: 2px 10px;
		&__p{
			font-family: $font-stack2;
			font-size: .9em;
			font-style: italic;
		}
	}
}


@media screen and (min-width:768px){

	.contactSection{
		padding-top: 10vh;
	}

	.form{
		display: grid;
		grid-gap: 5px;
		justify-items: center;
		height: 260px;
		width: 600px;
		margin: 15px auto 0 auto;
		
		&__label{
			width: 50%;
			margin: 0;
		}

		&__input{
			height: 25px;;
			width: 60%;
			margin: 0 10px;
			line-height: 25px;
		}

		&__textarea{
			height: 150px;
			width: 60%;
			margin: 0 10px;
			line-height: 25px;
		}

		&__inputSubmit{
			-ms-flex-item-align: center;
			    align-self: center;

			&:hover{
				background: rgb(76, 83, 94);
				color: white;
			}
		}
		// label:nth-of-type(3), textarea{
		// 	width: 100%;
		// }
	}

	// .phoneEmail{
	// 	font-size: 1em;

	// 	&__phone, &__email{
	// 		margin: 0 60px;
	// 		letter-spacing: 1px;
	
	// 		&__img{
	// 			max-width: 45px;
	// 		}
	// 	}
	// }
	}

/*******************
FOOTER
*******************/

footer{
	text-align: center;
	line-height: 22px;
	background: white;
}

/*************************
Clearfix
*************************/

.clearfix{
	*zoom: 1;

	&:before{
		content: " ";
		display: table;
	}

	&:after{
		@extend :before;
	}

	&:after{
		clear: both;
	}
}